main
{
    position: center;
}

@media screen and (min-width: 760px) {

    .product
{
    display: flex;
}

a{
    margin-bottom: 40px;
}

.img
{
    width: 30%;
    justify-content: center;
}

p
{
    margin: 0;
}

    }
