@media screen and (min-width: 760px) {

.product
{
 display: flex;
 flex-wrap: wrap;
}

.product a{
    display: flex;
    flex-direction: column;
    margin: 5px;
    margin-bottom: 15px;
    width: calc(25% - 40px);
    min-width: 250px;
    max-width: 300px;
}

h2 
{
    text-align: center;
    margin: 20px;
}

    }
