@font-face {
  font-family: "Domine";
  font-display: auto;
  src: url("/fonts/domine/domine-bold-webfont.woff2") format("woff2"), url("/fonts/domine/domine-bold-webfont.woff") format("woff"), url("/fonts/domine/domine-bold.ttf") format("truetype");
}

/* MOBILE FIRST */
* {
  padding: 0;
  margin: 0;
}

html {
  font-family: 'Domine', 'Times New Roman', Times, serif;
  font-size: 1em;
}

body {
  margin: 5px 20px;
  overflow-x: hidden;
}
/* HEADER - FOOTER */

header, footer {
  position: relative;
  color: #D8A12C;
}

header::before, footer::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-image: url("/image/logo/smoke.jpg");
  background-color: rgba(216, 161, 44, 0.5);
  background-size: cover;
  opacity: 0.5;
}

header nav ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px;
}

header nav li:not(li:nth-child(3)) {
  margin: 0 15px;
}

.logo {
  margin-left: auto;
  margin-right: auto;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  margin-top: 20px;
  padding: 5px;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
          align-content: space-between;
}

footer nav ul {
  list-style-type: none;
  margin-top: 10px;
}

footer nav ul li {
height: 25px;
}

/* FIN HEADER - FOOTER */

h1 {
  text-align: center;
  color: #D8A12C;
  padding: 5px ;
  margin: 30px 10px;
  border-bottom: thick double #D8A12C;
}

a{
  text-decoration: none;
  color:#D8A12C
}
a:visited {
color: #D8A12C;
}
a:hover
{
  color:#df0000
}
h2 {
  color: #df0000;
  margin: 5px 0;
}

p {
  text-align: center;
  margin: 5px 0;
}

ul:not(nav ul) {
  background-color: #f7f7f7;
  padding: 10px 0;
}

img:not(header img) {
  border: solid;
  border-color: #d8a12c;
  height: 100%;
  width: 100%;
  margin: auto;
}

/* ARTICLE */
article {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  background-color: #f7f7f7;
  padding: 10px;
  margin: 10px;
}

.actu
{
  width: 100%;
  margin: 10px 0;
}

/* FIN ARTICLE */

.parfum p:nth-child(3) {
  color: #df0000;
}

.navdekstop {
  display: none;
}

iframe {
  display: none;
}

/* FIN MOBILE FIRST */

/* MEDIA QUERIES - DESKTOP - TABLETTE */

@media screen and (min-width: 760px) {

  img:not(header img) {
    max-width: 60%;
  }

  /* BARRE DE NAVIGATION */

  .navdekstop, .navdekstop li div ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #f7f7f7;
    list-style-type: none;
    margin: 10px 0px;
    -ms-flex-pack: distribute;
        justify-content: space-between;
    text-align: center;
  }
  .navdekstop li {
    width: 100%;
    margin: 15px;
    padding: 15px;
  }
  .navdekstop li a {
    text-decoration: none;
    color: #D8A12C;
  }
  .navdekstop li:hover {
    background: #df0000;
  }
  .sub-menu1 {
    display: none;
  }
  .navdekstop li:hover .sub-menu1 {
    display: block;
    position: absolute;
    margin-top: 15px;
    margin-left: 15px;
    width: 300px;
    }
  .navdekstop li:hover .sub-menu1 ul {
    display: block;
    margin: 10px;
  }
  .navdekstop li:hover .sub-menu1 ul li {
    padding: 10px;
    border-bottom: 1px dotted #df0000;
    text-align: left;
    width: inherit;
  }
  .navdekstop li:hover .sub-menu1 ul li:hover {
  background-color: black;
  width: inherit;
  padding: 15px;
  }

  .navdekstop li:hover .sub-menu1 ul li:last-child {
    border-bottom: none;
  }

  /* FIN BARRE DE NAVIGATION */

  .burger {
    display: none;
  }
  iframe {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  article {
    flex-flow: row wrap;
  }
  .actu
  {
    width: 30%;
  }
}
/*# sourceMappingURL=style.css.map */