{% extends 'layout.html.twig' %}

{% block title %} Articles {% endblock %}

{% block body %}

    {% for post in posts %}

        <h1> {{ post.title }} </h1>

        <div> <img src= '{{ asset(app_cdn ~'produits/' ~ post.picture) }}' alt='articles{id}' width="400px"/> </div>

        <div> {{post.content | raw}} </div>

        <div> {{post.createdAt | date }} </div>
    {% endfor %}

{% endblock %}
